.det-prod{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
    margin-top: 10px;
}

.card-left{
    position: relative;
    width: 100%;
    display: flex;
    padding: 2px;
    flex-direction: column;
    background: var(--background);
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    overflow: hidden;
}

.cardHeader h2{
    font-weight: 600;
    color: var(--green);
}
.card-right{
    position: relative;
    width: 100%;
    background: var(--background);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    color: var(--text-primary);

}

.card-left img{
    width: 100%;
    max-height: 350px;
    object-fit: cover;
}

.card-left .pic-bottom{
    width: 100%;
    padding: 5px;
    display: grid; 
    grid-template-columns: repeat(4,1fr);
    grid-gap: 5px;
    overflow: hidden;
}

.card-left .pic-bottom img{
    height: 100px;
    object-fit: cover;
}

.card-right h3{
    font-weight: 500;
}

.rights{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: capitalize;
}

.categories{
    display: block;
}

.rights img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 5px;
}

.quantity{
    position: relative;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding: 5px;
    width:100px;
    max-height: 30px;
    border: 1px solid var(--green);
    border-radius: 20px;
}

.quantity span{
    font-weight: 600;
    font-size: 30px;
    cursor: pointer;
    margin: 10px;
}

.quantity input{
    padding: 0;
    border: none;
    background: transparent;
    width: 15px;
    font-weight: 600;
    font-size: 22px;
    pointer-events: none;
    color: var(--text-primary);
}
.minus{
    color: var(--red);
}

.plus{
    color: #0298ee;
}

.rating{
    font-size: 20px;
    color: #ffd513;
    align-items: center;
    display: flex;
}

.grey{
    font-size: 20px;
    color: #ccc;
}

.btn-action{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;

}

.btn-action button{
    padding: 5px;
    font-weight: 500;
    font-size: 15px;
    color: var(--text-primary);
    border: 1px solid var(--green);
    background: transparent;
    border-radius: 20px;

}

.btn-action button:hover{
    background: var(--green);
    color: var(--white);
    cursor: pointer;
}



@media(max-width: 768px) {
   .det-prod{
        grid-template-columns: repeat(1,1fr);
        max-width: 100%;
        grid-gap: 10px;
   } 

   .categories{
        visibility: hidden;
   }

   .btn-action{
        grid-template-columns: repeat(1,1fr);

   }
}