.profiles{
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	
}


.profiles .top{
	position: relative;
	width: 90%;
	height: 400px;
	background: var(--bgbtn);
	border-radius: 10px;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;

}

.profiles .top .image{
	position: relative;
	width: 100%;
}

.profiles .top .image img:nth-child(1){
	width: 100%;
	height: 250px;
}

.profiles .top .image img:last-child{
	width: 110px;
	height: 110px;
	border-radius: 50%;
	position: absolute;
	left: 30px;
	bottom: -50px;
	border: 5px solid var(--bgbtn);
}
.profiles .top .about{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 150px;
	padding-right: 10px;
	max-height: 60px;
}

.profiles .top .about .button{
	display: flex;
	gap: 10px;
}

.profiles .top .about .button button:nth-child(1){
	height: 45px;
	width: 100px;
	background: var(--green);
	color: var(--white);
	font-weight: 500;
	border: none;
	border-radius: 5px;
	text-transform: uppercase;
	font-family: var(--fontlight);
	cursor: pointer;
}
.profiles .top .about .button button:last-child{
	width: 50px;
	color: var(--white);
	background: var(--green);
	border: none;
	border-radius: 5px;
	padding: 5px;
	font-size: 30px;
	cursor: pointer;
}

.profiles .top .about .name{
	display: flex;
	flex-direction: column;
	gap: 1px;

}

.profiles .top .about .name span{
	color: var(--text-primary);
	font-weight: 500;
	text-transform: capitalize;
	font-family: var(--fontlight);
}

.profiles .top .about .name small{
	color: var(--greyscale);
	font-size: 12px;
	text-transform: capitalize;
	font-family: var(--fontlight);
}
.profiles .top .tab{
	position: relative;
	border-top: 1px solid var(--bgbtn);
	min-height: 60px;
}

.profiles .top .tab ul{
	display: flex;
	margin-left: 20px;
}

.profiles .top .tab ul li{
	list-style: none;
	display: inline-block;
	width: 80px;
	text-align: center;
	line-height: 60px;	
	color: var(--text-primary);
	font-family: var(--fontlight);
	position: relative;
}

.profiles .top .tab ul li:hover{
	border-bottom: 2px solid var(--green);
}

.profiles .bottom{
	width: 90%;
	display: grid;
	grid-template-columns: 1fr 2fr;
	margin-top: 10px;
	margin-bottom: 10px;
	gap: 10px;
}

.profiles .bottom .left{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(1,1fr);
	gap: 10px;
}

.profiles .bottom .left .grid{
	width: 100%;
	background: var(--bgbtn);
	border-radius: 10px;
}

.profiles .bottom .left .grid .header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 5px;
}

.profiles .bottom .left .grid .header span{
	color: var(--text-primary);
	font-family: var(--fontlight);
}

.profiles .bottom .left .grid .header small{
	color: var(--green);
	font-family: var(--fontlight);
	font-size: 14px;
	cursor: pointer;
}

.profiles .bottom .left .grid .corp{
	padding: 5px 10px;
	border-bottom: 1px solid var(--bgbtn);

}

.profiles .bottom .left .grid .corp small{
	color: var(--greyscale);
	font-family: var(--fontlight);
}

.profiles .bottom .left .grid .info{
	padding: 5px 10px;
}

.profiles .bottom .left .grid .info .data{
	display: flex;
	align-items: center;
	gap: 10px;
	color: var(--text-primary);
	font-family: var(--fontlight);
}

.profiles .bottom .left .grid .info .data .txt{
	display: flex;
	flex-direction: column;
	column-gap: 1px;
}

.profiles .bottom .left .grid .info .data .txt span{
	font-size: 15px;
}

.profiles .bottom .left .grid .info .data .txt small{
	font-size: 12px;
	color: var(--greyscale);
}

.profiles .bottom .left .grid .images{
	display: grid;
	gap: 5px;
	grid-template-columns: repeat(2,1fr);
	padding: 5px 10px;
}

.profiles .bottom .left .grid .images img{
	width: 100%;
	height: 100px;
	object-fit: cover;
	border-radius: 5px;
}

.profiles .bottom .right{
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.profiles .bottom .right .postCont{
	width: 100%;
	height: 350px;
	background: var(--bgbtn);
	border-radius: 10px;
}

