.profiles{
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.profiles .top{
	width: 100%;
	min-height: 300px;
	height: 300px;
	background: var(--bgbtn);
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 5px;
	justify-content: space-between;
}
.profiles .top .mur{
	width: 100%;
	height: 65%;
}

.profiles .top .mur img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.profiles .top .avatar{
	position: absolute;
	top: 40%;
	left: 5%;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	border: 2px solid var(--background);
	overflow: hidden;
}

.profiles .top .avatar img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	background: var(--background);
}

.profiles .top .action{
	width: 100%;
	height: 30%;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.profiles .top .action .left{
	width: 100%;
	flex-grow: 1;
}
.profiles .top .action .right{
	width: 100%;
	height: 40%;
	display: flex;
	justify-content: flex-end;
	gap: 10px;
	padding-right: 10px;
}

.profiles .top .action .right span{
	padding: 5px 10px;
	border: 1px solid var(--green);
	width: 10%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--text-primary);
	font-size: 23px;
	transition: all 0.5s;
}

.profiles .top .action .right span:hover{
	background: var(--green);
	color: var(--white);
	cursor: pointer;
}

.profiles .top .action .left ul{
	width: 100%;
	height: 100%;
	margin-left: 10px;
	display: flex;
	gap: 10px;
	align-items: flex-end;
}

.profiles .top .action .left ul li{
	list-style: none;
	line-height: 40px;
	color: var(--text-primary);
	font-size: 16px;
	font-family: var(--fontlight);
	text-align: center;
	padding: 0 3px;
	position: relative;
	transition: all 0.2s;
}

.profiles .top .action .left ul li:hover::after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2px;
	width: 100%;
	background: var(--green);
}

.profiles .top .action .left ul li:hover{
	color: var(--green);
}

.profiles .top .action .left ul li .active {
    color: var(--green);
}

.profiles .top .action .left ul li .active::after {
    content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2px;
	width: 100%;
	background: var(--green);
}

.profiles .contents{
	width: 100%;
	flex-grow: 1;
	display: grid;
	grid-template-columns: 1fr 2fr;
	margin-bottom: 10px;
	gap: 10px;
}

.profiles .contents .left{
	width: 100%;
	max-height: 40%;
	background: var(--bgbtn);
	border-radius: 10px;
	padding: 5px 2px;
	display: flex;
	flex-direction: column;
}

.profiles .contents .left span{
	width: 100%;
	color: var(--text-primary);
	font-size: 15px;
	font-family: var(--light);
	text-overflow: auto;
	padding: 5px 3px;
}

.profiles .contents .left .about{
	border-bottom: 1px solid var(--bgbtn);
	width: 100%;
}

.profiles .contents .right{
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	gap: 5px;
}