.cart{
    position: relative;
    width: 100%;
    height: 98%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}
.cart .cart-header{
    min-width: 60%;
    max-width: 65%;
    max-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bgbtn);
    padding: 10px 10px;
}

.cart .cart-header span:last-child{
    color: var(--text-primary);
    font-family: var(--fontlight);
    font-size: 15px;
}

.cart .cart-header span:last-child:hover{
    color: var(--green);
    cursor: pointer;
}

.cart .contents{
    width: 100%;
    flex-grow: 1;
    overflow: auto;
}
.cart .contents table{
    width: 100%;
    color: var(--text-primary);
    font-family: var(--fontlight);
    font-size: 13px;
    font-weight: lighter;
}

.cart .contents table img{
    min-width: 80px;
    min-height: 80px;
    max-width: 80px;
    max-height: 80px;
    object-fit: cover;
}
.cart .contents table .prod-desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.cart .contents table .red{
    color: var(--red);
}