.manage{
	width: 100%;
	height: 100%;
	padding: 5px 5px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.manage .header{
	width: 65%;
	min-height: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 10px;
	background: var(--bgbtn);
	position: sticky;
}

.manage .header span{
	font-family: var(--fontlight);
	color: var(--text-primary);
}

.manage .middle{
	width: 100%;
	background: var(--bgbtn);
	border-radius: 5px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 5px;
}

.manage .middle .left,
.manage .middle .right{
	flex: 100%;
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding: 5px 5px;
	align-items: center;
}

.manage .middle .left input{
	width: 100%;
	height: 30%;
	padding: 5px 5px;
	border: 1px solid var(--bgbtn);
	font-size: 15px;
	font-family: var(--textlight);
	color: var(--text-primary);
	border-radius: 0;
}

.manage .middle .left textarea{
	height: 40%;
	width: 100%;
	background: transparent;
	border: 1px solid var(--bgbtn);
	padding: 5px 5px;
	font-size: 15px;
	font-family: var(--textlight);
	color: var(--text-primary);
}

.manage .middle .left textarea:focus{
	outline: none;
}
.manage .middle .right .drag-drop{
	height: 40%;
	width: 100%;
	border: 1px dashed var(--green);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.manage .middle .right .drag-drop span{
	font-size: 20px;
	font-family: var(--textlight);
	color: var(--green);
}

.manage .middle .right .drag-drop span:last-child{
	font-size: 40px;
}

.manage .middle .right .pic{
	display: flex;
	flex-direction: row;
	width: 100%;
	gap: 1px;
	height: 40%;
	align-items: center;
}
.manage .middle .right .pic img{
	width: calc(100% / 5.1);
	height: 100%;
	object-fit: cover;
}

.manage .middle .right button{
	width: 35%;
	height: 16%;
	background: transparent;
	border: 1px solid var(--green);
	color: var(--green);
	font-size: 15px;
	font-family: var(--textlight);
	transition: all 0.5s;
}

.manage .middle .right button:hover{
	background: var(--green);
	color: var(--white);
	cursor: pointer;
}

.manage .bottom{
	width: 100%;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	overflow: auto;
}

.manage .bottom label{
	width: 30%;
	position: relative;
}
.manage .bottom label input{
	border: none;
	border-bottom: 1px solid var(--green);
	border-radius: 0;
	color: var(--text-primary);
	font-family: var(--fontlight);
	font-size: 15px;
	padding: 10px;
	padding-left: 30px;
}

.manage .bottom label span{
	position: absolute;
	top:28%;
	left: 0;
	color: var(--text-primary);
	font-size: 25px;
}

.manage .bottom table{
	width: 100%;
}
.manage .bottom table tbody tr img{
	width: 100px;
	height: 100px;
	object-fit: cover;
}
.manage .bottom table tbody tr th{
	text-align: left;
}

.manage .bottom table tbody tr .desc{
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.manage .bottom table tbody tr .desc span{
	width: 100%;
	text-align: left;
	color: var(--text-primary);
	font-size: 15px;
	font-family: var(--fontlight);
}
.manage .bottom table tbody tr .action{
	display: flex;
	gap: 10px;
}

.manage .bottom table tbody tr .action span{
	color: var(--text-primary);
	font-size: 25px;
}

.manage .bottom table tbody tr .action span:nth-child(1):hover{
	color: var(--green);
	cursor: pointer;
}

.manage .bottom table tbody tr .action span:last-child:hover{
	color: var(--red);
	cursor: pointer;
}