.shop-container {
	width: 100%;
	height: 100vh;
	position: relative;
	background: var(--background);
}

.shop-container > .shop-menu {
	position: absolute;
	right: 0;
	top: 0;
	min-width: 25%;
	min-height: 50px;
	max-height: 50px;
	border: 1px solid var(--green);
	background: var(--background);
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	padding: 5px 5px;
	z-index: 1;
}

.shop-container .shop-menu .label-menu {
	position: relative;
}

.shop-container .shop-menu .label-menu .dropdown {
	position: absolute;
	right: 45px;
	top: -10px;
	cursor:default;
	transition: all 0.5s ease-in;
	z-index: 0;
}
.shop-container .shop-menu .label-menu .dropdown .menu-list{
	position: relative;
	width: 200px;
	height: 125px;
	background: var(--grey);
	border-radius: 5px;
	box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.4);
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 10px 10px;
}

.shop-container .shop-menu .label-menu .dropdown .menu-list::after{
	position: absolute;
	right: -7px;
	top: 14px;
	content: '';
	width: 15px;
	height: 15px;
	background: var(--grey);
	transform: rotate(45deg);
}

.shop-container .shop-menu .label-menu .dropdown .menu-list .icon-text{
	font-size: 15px;
	font-family: var(--fontlight);
	color: var(--text-primary);
}

.flag{
	color: var(--text-primary);
	font-family: var(--fontlight);
	font-size: 15px;
}

@media(max-width: 720px) {
	.shop-container .shop-menu {
		width: 100%;
	}
}