.shop{
	width: 100%;
	height: 100%;
	position: relative;
}

.shop .topbar{
	position: relative;
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
	border-bottom: 1px solid var(--bgbtn);
}

.shop .topbar .wrapper{
	position: absolute;
	top: 65px;
	right: 15px;
	display: flex;
	width: 250px;
	overflow: hidden;
	border-radius: 5px;
	background: var(--grey);
	z-index: 1;
	color: var(--text-primary);
	transition: all 0.3s ease;

}

.shop .topbar .wrapper ul{
	list-style: none;
	width: 100%;
	padding: 10px;
	transition: all 0.3s ease;
}
.shop .topbar .wrapper ul li{
	line-height: 50px;
	display: flex;
	border-radius: 5px;
	align-items: center;
	font-size: 18px;
	text-transform: capitalize;
	transition: 0.5s;
}


.shop .topbar .wrapper ul li .link{
	text-decoration: none;
	display: flex;
	align-items: center;
	color: var(--text-primary);
}

.shop .topbar .wrapper ul li:nth-child(1){
	border-bottom: 1px solid var(--bgbtn);
}

.shop .topbar .wrapper ul li span{
	margin-left: 10px;
}

.shop .topbar .wrapper ul li:nth-child(1):hover{
	background: transparent;
	cursor: default;
}
.shop .topbar .wrapper ul li:hover{
	background: var(--bgbtn);
	cursor: pointer;
}

.shop .toggle{
	position: relative;
	top: 0;
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.5rem;
	cursor: pointer;
	color: var(--text-primary);
}

.cart-badge{
	position: relative;
}

.cart-badge span{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: var(--red);
	position: absolute;
	top: 1px;
	right: 1px;
	color: var(--white);
	font-size: 13px;
	font-weight: 500;
	text-align: center;
	border: 1px solid var(--background);
}

.prod-search{
    position: relative;
    padding: 0 10px;
}

.prod-search label{
    position: relative;
	width: 100%;
}

.prod-search label input{
	width: 100%;
	height: 40px;
	border-radius: 40px;
	padding: 5px 20px;
	padding-left: 35px;
	font-size: 18px;
	outline: none;
	background: transparent;
	border: 1px solid var(--green);
	color: var(--text-primary);
}

.prod-search label span{
	position: absolute;
	top: -5px;
	left: 10px;
	font-size: 1.2em;
	color: var(--text-primary);
}