.messenger{
	width: 100%;
	position: relative;
}

.messenger .central {
	position: relative;
    width: 100%;
    height: calc(100vh - 110px);
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    margin-top: 10px;
    scrollbar-width: none;
}

.messenger .topBar{
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
	position: relative;
	border-bottom: 1px solid var(--bgbtn);
}

.messenger .toggles{
	position: relative;
	top: 0;
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.5rem;
	cursor: pointer;
	color: var(--text-primary);
}


.messenger .left .top{
	width: 100%;
	max-height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 0;
}

.messenger .left .top .profile{
	display: flex;
	align-items: center;
	justify-content: center;
}

.messenger .left .top .profile img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
}

.messenger .left .top .profile > div{
	display: flex;
	flex-direction: column;
	margin-left: 10px;
	text-transform: capitalize;
}

.messenger .left .top .right-action{
	display: flex;
	align-items: center;
	margin-right: 5px;
	font-size: 15px;
}

.messenger .left .top .right-action .icon{
	margin-right: 10px;
	cursor: pointer;
}

.messenger .left .top .right-action .icon:last-child{
	margin-right: 0px;
	margin-left: 10px;
}
.messenger .central .left .middle{
	width: 100%;
	border: 1px solid var(--bgbtn);
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 5px 5px;
	flex-grow: 1;
	overflow-y: auto;
	scrollbar-width: none;
    --ms-overflow-style: none;
}

.messenger .central .left .middle a{
	text-decoration: none;
	color: var(--text-primary);
	display: flex;
	align-items: center;
	font-size: 13px;

}

.messenger .central .left .middle::-webkit-scrollbar{
	display: none;
}


.messenger .central .left .middle .friend{
	justify-content: flex-start;
	display: flex;
	margin: 5px 10px;
}

.messenger .central .left .middle .owner{
	justify-content: flex-end;
	display: flex;
	margin: 5px 10px;
}

.messenger .central .left .middle .owner .owner-message{
	position: relative;
	max-height: 300px;
	margin-right: 10px;
	background: var(--grey);
	border-radius: 10px;
	
}

.messenger .central .left .middle .owner .owner-message::before{
	content: '';
	position: absolute;
	top: 13px;
	right: -3.5px;
	width: 8px;
	height: 8px;
	background: var(--grey);
	transform: translateY(-50%) rotate(45deg);
	z-index: 0;
}

.messenger .central .left .middle .owner .owner-message h4{
	padding: 2px 7px;
	width: 100%;
	text-align: end;
	color: var(--text-primary);
}

.messenger .central .left .middle .owner .owner-message small{
	font-size: 10px;
	padding: 8px;
	width: 100%;
	text-align: end;
	color: var(--text-primary);
}

.messenger .central .left .middle .owner img{
	width: 100%;
	height: 150px;
	object-fit: cover;
}

.messenger .central .left .middle .friend .avatar{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
}

.messenger .central .left .middle .friend .friend-message{
	max-height: 300px;
	margin-left: 10px;
	background: var(--green);
	border-radius: 10px;
	position: relative;
}

.messenger .central .left .middle .friend .friend-message::after{
	content: '';
	position: absolute;
	top: 13px;
	left: -3.5px;
	width: 8px;
	height: 8px;
	background: var(--green);
	transform: translateY(-50%) rotate(45deg);
}

.messenger .central .left .middle .friend .friend-message h4{
	padding: 2px 7px;
	color: var(--white);
}

.messenger .central .left .middle .friend .friend-message img{
	width: 100%;
	height: 150px;
	object-fit: cover;
	border-radius: 0;
}

.messenger .central .left .middle .friend .friend-message small{
	font-size: 10px;
	padding-left: 8px;
	color: var(--white);
}

.messenger .central .left .bottom{
	width: 100%;
	max-height: 100px;
	display: flex;
	align-items: center;
	position: relative;
}

.messenger .central .left .bottom .bot-icons{
	display: flex;
	align-items: center;
	padding-top: 10px;
}

.messenger .central .left .bottom textarea{
	resize: block;
	max-height: 100%;
	flex-grow: 1;
	margin: 0 10px;
	text-align: bottom;
	color: var(--text-primary);
	border: 1px solid var(--bgbtn);
	border-radius: 10px;
	padding: 5px 10px;
	background: transparent;
	overflow-y: auto;
	margin-top: 10px;
	font-size: 18px;
}

.messenger .central .left .bottom textarea:focus{
	outline: none;
}

.messenger .central .left .no-conversation{
	font-size: 19px;
	color: var(--text-primary);
	font-weight: 500;
}

.messenger .central .left{
	position: relative;
	display: flex;
	flex-direction: column;
    width: 100%;
    height: calc(100vh - 110px);
    background: var(--background);
    padding: 5px;
    color: var(--text-primary);
}

.messenger .central .right-bar{
	position: relative;
    min-width: 100%;
    max-height: calc(100vh - 110px);
    background: var(--background);
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
}

.messenger .central .right-bar .right-top{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 5px;
	max-height: 100%;
	box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
	color: var(--text-primary);
	border-radius: 10px;
	padding: 5px 5px;
	overflow-y: auto;
	scrollbar-width: none;
    --ms-overflow-style: none;
}

.messenger .central .right-bar .right-bottom{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 5px;
	max-height: 100%;
	box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
	color: var(--text-primary);
	border-radius: 10px;
	padding: 5px 5px;
	overflow-y: auto;
	scrollbar-width: none;
    --ms-overflow-style: none;
}

.messenger .central .right-bar .right-top .online{
	display: flex;
	gap: 5px;
	align-items: center;
	max-height: 50px;
}
.messenger .central .right-bar .right-top::-webkit-scrollbar{
	display: none;
}

.messenger .central .right-bar .right-bottom .online{
	display: flex;
	gap: 5px;
	align-items: center;
	max-height: 50px;
}
.messenger .central .right-bar .right-bottom::-webkit-scrollbar{
	display: none;
}

.messenger .central .right-bar .right-bottom .chat{
	display: flex;
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 0;
}

.messenger .central .right-bar .right-bottom .chat:hover{
	background: var(--bgbtn);
	cursor: pointer;
}

.messenger .central .right-bar .right-bottom .friend{
	width: 50px;
	height: 50px;
	position: relative;
}

.messenger .central .right-bar .right-bottom .friend .avatar img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
}

.messenger .central .right-bar .right-bottom .friend .avatar span{
	width: 12px;
	height: 12px;
	border-radius: 50%;
	position: absolute;
	right: 10px;
	bottom: 8px;
	border: 2px solid var(--background);
	background: var(--green);
}

.messenger .central .right-bar .right-bottom .friendText{
	display: flex;
	flex-direction: column;
}

.messenger .central .right-bar .right-bottom .friendText span{
	text-transform: capitalize;
}

@media(max-width: 480px) {
	.messenger{
		height: calc(100vh - 150px);
	}
	.messenger .middle{
		flex-grow: 1;
	}
	.messenger .bottom{
		display: grid;
		grid-template-columns: repeat(1,1fr);
	    grid-gap: 10px;
	}

	.messenger .bottom textarea{
		max-height: 50px;
	}
}