.messenger{
	height: 100%;
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
}

.messenger .top{
	width: 100%;
	height: 10%;
	display: flex;
	flex-direction: row;
	overflow: auto;
	gap: 5px;
}

.messenger .top .avatar{
	min-width: 35px;
	min-height: 35px;
	max-width: 35px;
	max-height: 35px;
	border-radius: 50%;
	position: relative;
}

.messenger .top .avatar img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
}

.messenger .top .avatar small{
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: var(--green);
	position: absolute;
	right: 2px;
	bottom: 2px;
	border: 1px solid var(--background);
}

.messenger .bottom{
	width: 100%;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.messenger .bottom .header{
	width: 100%;
	height: 10%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background: var(--bgbtn);
	padding: 5px 5px;
}

.messenger .bottom .header .left,
.messenger .bottom .header .right{
	display: flex;
	gap: 5px;
	height: 100%;
	align-items: center;
}
.messenger .bottom .header .left img{
	min-width: 35px;
	min-height: 35px;
	max-width: 35px;
	max-height: 35px;
	border-radius: 50%;
	object-fit: cover;
}
.messenger .bottom .header .left span{
	font-size: 16px;
	font-family: var(--fontlight);
	color: var(--text-primary);
}
.messenger .bottom .contents{
	flex-grow: 1;
	width: 100%;
	border: 1px solid var(--bgbtn);
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 5px 5px;
	overflow-y: auto;
}

.messenger .bottom .contents .friend-ms{
	justify-content: flex-start;
	display: flex;
	gap: 10px;
	margin: 5px 10px;
	position: relative;
	width: 100%;
	max-width: 100%;
	max-height: 200px;
	margin-right: 10px;
	border-radius: 5px;
}

.messenger .bottom .contents .friend-ms .friand-avatar{
	height: 100%;
	min-width: 35px;
	max-width: 35px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.messenger .bottom .contents .friend-ms .friand-avatar img{
	min-width: 35px;
	min-height: 35px;
	max-width: 35px;
	max-height: 35px;
	border-radius: 50%;
	object-fit: cover;
}

.messenger .bottom .contents .friend-ms .chat-friend{
	width: 10%;
	max-width: 50%;
	min-height: 40px;
	max-height: 200px;
	background: var(--grey);
	border-radius: 5px;
	padding: 2px 7px;
	position: relative;
	display: flex;
	flex-direction: column;
}

.messenger .bottom .contents .friend-ms .chat-friend .timestamp{
	width: 100%;
	max-height: 15px;
	text-align: right;
	color: var(--text-primary);
	font-display: flex;
	justify-content: flex-end;
	font-size: 10px;
	font-family: var(--fontlight);
}

.messenger .bottom .contents .friend-ms .chat-friend::after{
	content: '';
	position: absolute;
	bottom: 10px;
	left: -3.5px;
	width: 8px;
	height: 8px;
	background: var(--grey);
	transform: translateY(-50%) rotate(45deg);
}

.messenger .bottom .contents .owner-ms{
	justify-content: flex-end;
	display: flex;
	gap: 10px;
	margin: 5px 10px;
	position: relative;
	width: 100%;
	max-height: 200px;
	border-radius: 5px;
}

.messenger .bottom .contents .owner-chat{
	width: 10%;
	max-width: 50%;
	min-height: 40px;
	max-height: 200px;
	padding: 2px 7px;
	margin-right: 25px;
	color: var(--text-primary);
	background: var(--green);
	display: flex;
	border-radius: 5px;
	position: relative;
}

.messenger .bottom .contents .owner-chat::before{
	content: '';
	position: absolute;
	bottom: 10px;
	right: -3.5px;
	width: 8px;
	height: 8px;
	background: var(--green);
	transform: translateY(-50%) rotate(45deg);
}
.messenger .bottom .bot{
	width: 100%;
	height: 15%;
	background: var(--bgbtn);
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 5px 5px;
	gap: 5px;
}

.ms-icon{
	font-size: 30px;
	color: var(--text-primary);
	border-radius: 50%;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	
}
.ms-icon:hover{
	background: var(--bgbtn);
	cursor: pointer;
}

.messenger .bottom .bot textarea{
	height: 100%;
	flex-grow: 1;
	background: transparent;
	border: 1px solid var(--bgbtn);
	padding: 5px 5px;
	font-size: 15px;
	font-family: var(--fontlight);
	color: var(--text-primary);
}

.messenger .bottom .bot textarea:focus{
	outline: none;
}

