.post-container{
	width: 100%;
	background: var(--background);
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-bottom: 5px;
}

.post-container .card{
	color: var(--text-primary);
	background: var(--bgbtn);
	box-shadow: none;
	border-radius: 10px;
}

.cardHeader{
	overflow: hidden;
	text-transform: capitalize;

}
.post-container .card .cardHeader img{
	min-width: 35px;
    min-height: 35px;
    max-width: 35px;
    max-height: 35px;
	border-radius: 50%;
	object-fit: cover;
}
.link{
	text-decoration: none;
	color: var(--text-primary);
}

.post-container .card img{
	width: 100%;
	height: auto;
	max-height: 400px;
	object-fit: cover;
}

.post-container .card video{
	width: 100%;
	height: auto;
	object-fit: cover;
}

.card-action{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.card-action .item{
	display: flex;
	align-items: center;
	gap: 10px;
}

.card-action .item .icon{
	font-size: 25px;
	color: var(--text-primary);
}

.card-action .item .text{
	font-size: 14px;
	font-family: var(--fontlight);
	color: var(--text-primary);
}

.col-head{
	display: flex;
	align-items: center;
	gap: 10px;
	position: relative;
	background: var(--bgbtn);
	padding: 5px 10px;
	margin-bottom: 10px;
	border-radius: 10px;

}
.card .col-head img{
	min-width: 35px;
    min-height: 35px;
    max-width: 35px;
    max-height: 35px;
	border-radius: 50%;
	object-fit: cover;
}

.card .col-head input{
	border: none;
	color: var(--text-primary);
	font-family: var(--fontlight);
	font-size: 15px;
	padding: 0;
	padding-right: 40px;
	flex-grow: 1;
}

.card .col-head .send{
	position: absolute;
	right: 15px;
	top: 10px;
	font-size: 25px;
	color: var(--text-primary);
	cursor: pointer;
	transform: rotate(-40deg);
}

.card .col-feet{
	max-height: 150px;
	display: flex;
	flex-direction: column;
	padding-left: 50px;
	gap: 15px;
	overflow: auto;
}

.card .col-feet .comment{
	display: flex;
	gap: 10px;
	flex-grow: 1;
}
.card .col-feet .comment img{
	min-width: 35px;
    min-height: 35px;
    max-width: 35px;
    max-height: 35px;
	border-radius: 50%;
	object-fit: cover;
}
.card .col-feet .comment .text{
	display: flex;
	flex-direction: column;
	gap: 2px;
	justify-content: space-between;
	flex-grow: 1;
}
.card .col-feet .comment .text span{
	font-size: 15px;
	font-family: var(--fontlight);
	color: var(--text-primary);
}
.card .col-feet .comment .text small{
	font-size: 10px;
	color: var(--text-primary);
	font-family: var(--fontlight);

}