.post-container{
	width: 80%;
	background: var(--background);
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-bottom: 5px;
}

.post-container .card{
	color: var(--text-primary);
	background: var(--bgbtn);
	box-shadow: none;
	border-radius: 10px;
}

.post-container .card h4{
	font-family: var(--light);
	font-size: 15px;
}
.cardHeader{
	overflow: hidden;
	text-transform: capitalize;
	max-height: 50px;
	position: relative;
}
.cardHeader .sub{
	display: flex;
	align-items: center;
	gap: 5px;
}
.cardHeader .sub img{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	object-fit: cover;
	color: var(--text-primary);
}
.cardHeader > .icon{
	min-width: 60px;
	min-height: 60px;
	max-width: 60px;
	max-height: 60px;
	border-radius: 50%;
	color: var(--text-primary);
	font-size: 25px;
}
.cardHeader .menu-head{
	position: absolute;
	top: 4px;
	right: 10px;
	width: 70px;
	height: 40px;
	display: flex;
	flex-direction: column;
	gap: 1px;
	padding: 5px 5px;
	background: var(--grey);
	border-radius: 5px;
	box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.4);
	overflow: hidden;
	transition: all 0.5s;
	z-index: 0;
}
.cardHeader .menu-head span{
	font-size: 11px;
	font-family: var(--fontlight);
	color: var(--text-primary);
}
.cardHeader .menu-head span:nth-child(1):hover{
	color: var(--green);
	cursor: pointer;
}

.cardHeader .menu-head span:last-child:hover{
	color: var(--red);
	cursor: pointer;
}

.post-container .card .cardHeader .avatar{
	min-width: 35px;
    min-height: 35px;
    max-width: 35px;
    max-height: 35px;
	border-radius: 50%;
	object-fit: cover;
}
.link{
	text-decoration: none;
	color: var(--text-primary);
}

.post-container .card .imageArray{
	width: 100%;
	max-height: 400px;
	display: grid; 
   	grid-template-rows: 3fr 1fr;
   	grid-template-columns:  1fr;
   	gap: 5px;
}

.post-container .card .imageArray1{
	width: 100%;
	max-height: 400px;
	display: grid; 
   	grid-template-rows: 1fr;
   	grid-template-columns:  1fr;
   	gap: 5px;
}

.post-container .card .imageArray1 .imageTop{
	width: 100%;
	height: 100%;
	border-radius: 2px;
	overflow: hidden;
}

.post-container .card .imageArray .imageTop{
	width: 100%;
	height: 100%;
	border-radius: 2px;
	overflow: hidden;
}

.post-container .card .imageArray .imageTop img{
	width: 100%;
	min-height: 100%;
	object-fit: cover;
}

.post-container .card .imageArray .imageBot{
	position: relative;
	width: 100%;
	max-height: 150px;
	display: flex;
	gap: 5px;
	justify-content: center;
	align-items: center;
}

.post-container .card .imageArray .imageBot .image{
	position: relative;
	width: calc(100% / 3);
	height: 100%;
	border-radius: 2px;
	overflow: hidden;
	
}

.post-container .card .imageArray .imageBot .image:last-child .textImage{
	position: absolute;
	top: 0;
	right: 0;
	color: #eee;
	font-family: var(--fontlight);
	font-weight: 500;
	z-index: 0;
	font-size: 25px;
	width: calc(calc(100% / 3) - 3px);
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 2px;
}

.post-container .card .imageArray .image img,
.post-container .card .imageArray .image2 img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.post-container .card .imageArray .image2{
	width: calc(100% / 2);
	height: 100%;
	border-radius: 2px;
	overflow: hidden;
}

.post-container .card .imageArray .only2{
	display: grid; 
   	grid-template-columns:  1fr 1fr;
   	gap: 5px;
   	overflow: hidden;
}

.post-container .card .imageArray1 .only2{
	display: grid; 
   	grid-template-columns:  1fr 1fr;
   	gap: 5px;
   	overflow: hidden;
}

.post-container .card .imageArray1 .only2 img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 2px;
}

.post-container .card .imageArray .only2 img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 2px;
}

.post-container .card video{
	width: 100%;
	height: auto;
	object-fit: cover;
}

.card-action{
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 5px;
	color: var(--text-primary);
	font-family: var(--light);
}

.card-action .item{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.card-action .item > .icon{
	width: calc(100% / 4);
	font-size: 20px;
	color: var(--text-primary);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px 2px;
	gap: 5px;
}

.card-action .item > .liked{
	color: var(--green);
}

.card-action .item > .icon:hover{
	background: var(--bgbtn);
	border-radius: 2px;
}
.card-action .item .text{
	font-size: 14px;
	display: flex;
	align-items: center;
	gap: 10px;
}

.col-head{
	display: flex;
	align-items: center;
	gap: 10px;
	position: relative;
	background: var(--bgbtn);
	padding: 5px 10px;
	margin-bottom: 10px;
	border-radius: 10px;

}
.card .col-head img{
	min-width: 35px;
    min-height: 35px;
    max-width: 35px;
    max-height: 35px;
	border-radius: 50%;
	object-fit: cover;
}

.card .col-head input{
	border: none;
	color: var(--text-primary);
	font-family: var(--fontlight);
	font-size: 15px;
	padding: 0;
	padding-right: 40px;
	flex-grow: 1;
}

.card .col-head .send{
	position: absolute;
	right: 15px;
	top: 30%;
	font-size: 25px;
	color: var(--text-primary);
	cursor: pointer;
}

.card .col-feet{
	max-height: 150px;
	display: flex;
	flex-direction: column;
	padding-left: 50px;
	gap: 15px;
	overflow: auto;
}

.card .col-feet .comment{
	display: flex;
	gap: 10px;
	flex-grow: 1;
}
.card .col-feet .comment img{
	min-width: 35px;
    min-height: 35px;
    max-width: 35px;
    max-height: 35px;
	border-radius: 50%;
	object-fit: cover;
}
.card .col-feet .comment .text{
	display: flex;
	flex-direction: column;
	gap: 2px;
	justify-content: space-between;
	flex-grow: 1;
}
.card .col-feet .comment .text span{
	font-size: 15px;
	font-family: var(--fontlight);
	color: var(--text-primary);
}
.card .col-feet .comment .text small{
	font-size: 10px;
	color: var(--text-primary);
	font-family: var(--fontlight);

}

@media(max-width: 720px) {
	.post-container {
		width: 100%;
	}
}