.settings{
	height: 100vh;
	position: relative;
	background: var(--background);
}


.link{
	text-decoration: none;
}

.centrals{
	position: relative;
    width: 100%;
    padding: 10px;
    height: calc(100vh - 80px);
    margin-top: 10px;
    scrollbar-width: none;
}