.settings{
	height: 100vh;
	position: relative;
	background: var(--background);
}

.navigations{
	position: fixed;
	width: 250px;
	height: 100%;
	background: var(--green);
	border-left: 10px solid var(--green);
	transition: 0.5s;
	overflow: hidden;
}

.navigations ul{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.navigations ul li{
	position: relative;
	width: 100%;
	list-style: none;
	
}
.link{
	text-decoration: none;
}

.navigations ul li:hover{
	background: var(--background);
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	cursor: pointer;
}

.navigations ul li:nth-child(1){
	margin-bottom: 40px;
}

.navigations ul li .ahref{
	position: relative;
	display: block;
	width: 100%;
	display: flex;
	color: var(--white);
}

.navigations ul li:hover .ahref{
	color: var(--green);
}

.navigations.active{
	width: 60px;
	border-left: 0px;
}

.navigations ul li .ahref .icon{
	position: relative;
	display: block;
	min-width: 60px;
	height: 60px;
	line-height: 70px;
	text-align: center;
}

.navigations ul li .ahref .title{
	position: relative;
	display: block;
	padding: 0 10px;
	height: 60px;
	line-height: 60px;
	text-align: start;
	white-space: nowrap;
}

.navigations ul li:hover .ahref::before{
	content: '';
	position: absolute;
	right: 0;
	top: -50px;
	width: 50px;
	height: 50px;
	background: transparent;
	border-radius: 50%;
	box-shadow: 35px 35px 0 10px var(--background);
	pointer-events: none;
}

.navigations ul li:hover .ahref::after{
	content: '';
	position: absolute;
	right: 0;
	bottom: -50px;
	width: 50px;
	height: 50px;
	background: transparent;
	border-radius: 50%;
	box-shadow: 35px -35px 0 10px var(--background);
	pointer-events: none;
}

.mains{
	position: absolute;
	width: calc(100vw - 250px);
	left: 250px;
	min-height: 100vh;
	background: var(--background);
	transition: 0.5s;
	overflow: hidden;
}

.mains.active{
	width: calc(100vw - 60px);
	left: 60px;
}

.navigations.active{
	width: 60px;
	border-left: 0px;
}

.centrals{
	position: relative;
    width: 100%;
    padding: 10px;
    height: calc(100vh - 80px);
    margin-top: 10px;
    scrollbar-width: none;
}